<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <header>
        <h1>{{ title }}</h1>
        <img class="banner" src="/assets/{{ image }}" alt="home-image"> 
    </header>

    <body>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/posts">Entrevistas</a></li>
        </ul>

        <hr>

        <p>{{ date | date: "%B %d, %Y" }}<p>

        {{ content }}

        {% for post in collections.posts %}
            <p>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            ({{ post.data.date  | date: "%B %d, %Y"}}) 
            </p>
        {% endfor %}

        <hr>

        <footer>

        <p>Built using <a target="_blank" href="https://www.11ty.dev/">Eleventy</a></p>
        <p>Source code: <a target="_blank" href="https://github.com/acarolcolombo/caroldoscopio">Github</a></p>
        
        </footer>

    </body>
</html>